$color-dark-brown: #1A0F08;
$color-very-dark-brown: #0D0703;
$color-cream: #D4A574;
$color-orange: #DAA520;
$color-dark-cream: #a67c52;
$color-light-brown: #5a3520;
$color-brown: #3e2415;
$color-dark-orange: #8b4513;