@use './colors.scss' as *;

body.index main {
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: {
        top: 2em; bottom: 2em;
        left: 10em; right: 10em;
    }

    background: {
        image: url(/view/images/wood.jpg);
        repeat: no-repeat;
        size: cover;
    }
    border: {
        style: solid;
        width: 3px;
        color: $color-brown;
        radius: 8px;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background-color: rgba(26, 15, 8, 0.95);
        pointer-events: none;
    }

    * {
        z-index: 1;
    }

    h1 {
        font-size: 100px;
        color: $color-cream;
        text-shadow:
            3px 3px 0 $color-light-brown,
            6px 6px 0 $color-brown;
    }

    h2 {
        font-size: 30px;
        color: $color-dark-cream;
        font-weight: normal;
    }

    ul {
        margin: 2em;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;

        button {
            color: $color-cream;
            padding: 0.5em;
            font-size: 40px;
            background-color: $color-dark-brown;
            transition: all 0.2s ease;
            width: 500px;
            border: {
                style: solid;
                width: 3px;
                color: $color-dark-orange;
                radius: 8px;
            }

            &:hover {
                border-color: $color-cream;
                background-color: $color-brown;
                cursor: pointer;
            }
        }
    }

    article {
        display: flex;
        justify-content: center;
        gap: 0.25em;

        p {
            font-size: 30px;

            &:not(.franc) {
                color: $color-cream;
            }
        }
    }
}