@use './colors.scss' as *;
@use './fonts.scss';

body.login {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }
    
    h2 {
        font-size: 25px;
        color: $color-dark-cream;
        font-weight: normal;
    }
    
    label {
        font-size: 15px;
        color: $color-red;
        margin-bottom: -1em;
        justify-self: left;
        font-family: quicksand;
        font-weight: bold;
    }
    
    form {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
        
        p {
            color: $color-dark-orange;
            
            &:hover {
                cursor: help;
            }
        }
        
        a {
            color: $color-dark-cream;
            text-decoration: none;
            transition: all 0.2s ease;
            font-weight: bold;
            font-family: quicksand;
            border-bottom: {
                style: solid;
                width: 1px;
                color: transparent;
            }
            
            &:hover {
                color: $color-cream;
                border-bottom-color: $color-cream;
            }
        }
        
        div {
            box-sizing: border-box;
            position: relative;

            &:hover {
                img {
                    display: block;
                }

                input {
                    border-color: $color-cream;
                    background-color: $color-brown;
                }
            }
            
            img {
                position: absolute;
                right: 1em;
                top: 50%;
                transform: translateY(-50%);
                display: none;
                height: 30px;
                transition: all 0.2s ease;
                
                &:hover {
                    cursor: pointer;
                }
            }
        }
        
        input {
            box-sizing: border-box;
            &::placeholder {
                font-size: 25px;
                color: $color-dark-cream;
                font-weight: normal;
            }
            
            font-size: 25px;
            padding: 0.25em;
            background-color: $color-cream;
            color: $color-dark-brown;
            border: {
                style: solid;
                width: 1px;
                color: $color-dark-orange;
                radius: 8px;
            }
            width: 100%;
            
            
            color: $color-cream;
            padding: 0.5em;
            font-size: 30px;
            background-color: $color-dark-brown;
            transition: all 0.2s ease;
            border: {
                style: solid;
                width: 3px;
                color: $color-dark-orange;
                radius: 8px;
            }
            
            &:hover:not(:disabled), &:focus {
                border-color: $color-cream;
                background-color: $color-brown;
                cursor: pointer;
                outline: none;
            }
            
            &[type="submit"] {
                width: 50%;
            }
            
            &:disabled {
                color: $color-brown;
                border-color: $color-brown;
                
                &:hover {
                    cursor: not-allowed;
                }
            }
        }
        
    }
}